<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.br1.shipcrash" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Ship Crash</name>
  <description>Sample Apache Cordova App</description>
  <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
    Apache Cordova Team
  </author>

  <!-- Começa sempre em index.html -->
<content src="index.html" />

  <access origin="*" />
  <allow-navigation href="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <preference name="SplashScreenDelay" value="3000" />
  <preference name="AutoHideSplashScreen" value="true" />

  <platform name="android">
    <icon src="res/icon/meu_icone_novo.png" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon/meu_icone_novo.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#1A1A2E" />
  </platform>
</widget>
